*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.fa-solid fa-magnifying-glass{
    outline: none;
    border: none;
    height: 20px;
    
}


#search{
   border: none;
   outline: none;
    background-color: white;
    margin-left: 15px;
    margin-top: 20px;
    
}

i{
    font-size: 20px;
    color: rgb(161, 74, 47);
}


.nav{
    display: flex;
    align-items: center;
    height: 70px;
}

/* style.css */
.hidden {
    display: none;
}

#heading{
    margin-left: 23rem;
    color: rgb(161, 74, 47); 
    margin-top: 10px;
    font-weight: 400;
    font-style: italic;
}

#input{
  visibility:hidden;   
  width: 10rem;
  height: 2rem;
  margin-top: 15px;
  border-radius: 5px;
}


#cart{
    margin-left: 25rem;
    color: rgb(161, 74, 47); 
    margin-top: 10px;
    font-weight: 400;
    font-style: italic;
    font-size: 1rem;
}

li{
    display: flex;
    list-style: none;
    margin-left: 50px;
   

}

ul{
    display: flex;
    margin-left: 18rem;
    margin-top: 30px;
}

a{
    text-decoration: none;
    color: black;
    margin-left: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



#banner-image{
    width: fit-content;
    height: 30rem;
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 5px;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6px;
    padding: 1px;  
    margin-left: 10px;
    background-color: #121212;
    margin-top: 2rem;
    border-radius: 10px;
    margin-right: 10px;
    
  
}


#banner-image-2{
    width: fit-content;
    height: 30rem;
    margin-top: 50px;
    margin-left: 1px;
    border-radius: 5px;
}


#banner-image-1{
    width: 30rem;
    height: 19rem;
    margin-top: 50px;
    margin-left: 1px;
    border-radius: 5px;
}


#quite{
    margin-left: 0.1rem;
    margin-top: 4rem;
    font-size: 1.8rem;
    font-weight: 900;
    width:fit-content;
   height: fit-content;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-style: italic;

}



marquee{

    font-size: xx-large;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-weight: bolder;
     background-color:#121212; 
     color: white; 
     margin-top: 30px;
     

}



.content2{
    display: grid;
    grid-template-columns: repeat(2,1fr) ;
}


#left{
    background-color: #121212;
}

#redgirldress{

    margin-left: 60px;
   margin-top: 30px;
   border-radius: 15px;
   height:40rem;
   width: 30rem;
}


#content-heading{
    margin-top: 100px;
    font-size:xx-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    font-weight: bolder;
}


#color-details{
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    
}


#material-details{
    margin-top: 10px;
   font-size: larger;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: 600;
}



#Size{
margin-top: 10px;
   font-size: medium;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: 600;
   font-style: oblique;



}


#handle{

    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    ;
    font-weight: 900;
    font-style: inherit;
}



#Highlights{
    margin-top: 30px;
    font-size: small;
}


#product-rate{
    margin-top: 30px;
    font-size: medium;
    font-weight: bolder;
}


/* From Uiverse.io by Creatlydev */ 
.button {
  line-height: 1;
  text-decoration: none;
  display: inline-flex;
  border: none;
  cursor: pointer;
  align-items: center;
  gap: 0.75rem;
  background-color: var(--clr);
  color: #fff;
  border-radius: 10rem;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.3s;
}

.button__icon-wrapper {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  color: var(--clr);
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.button:hover {
  background-color: #000;
}

.button:hover .button__icon-wrapper {
  color: #000;
}

.button__icon-svg--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.button:hover .button__icon-svg:first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
}

.button:hover .button__icon-svg--copy {
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
}

#shop-now{
    margin-top: 40px;
}




#newarivals{
    margin-top: 40px;
    justify-self: center;
    font-size: x-large;
    font-family: cursive;
    font-weight: bolder;
}

#new-quite1{
    margin-left: 19rem;
    margin-top: 30px;
    font-size: larger;
    font-weight: 400;
}


#new-quite2{
    margin-left: 27rem;
    font-size: larger;
    font-weight: 400;
}